/* Default Style */

.root-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #dedee9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 65vw;
  height: 90vh;
  padding-top: 12;
  padding-bottom: 12;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #f2f2fc;
  box-shadow: 0 0 50px 5px #a6a6ae;
  border-radius: 12px;
}

.card-container h4 {
  padding-left: 6px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;

}

.panel-box {
  padding: 6px;
}

.panel {
  height: 5em;
  border: 0px 0 solid rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  background-color: white;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sub-panel-left {
  max-width: 50%;
  max-height: 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sub-panel-right {
  width: 50%;
  max-height: 70%;
  padding-right: 0.8em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.tables-container {
  max-width: 100%;
  height: 65%;
  padding-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.box-gender-male {
  width: fit-content;
  padding: 4px;
  border-radius: 2px;
  background-color: #92b9e3;
  font-size: small;
}

.box-gender-female {
  width: fit-content;
  padding: 4px;
  border-radius: 2px;
  background-color: #fba1cf;
  font-size: small;
}